<div class="box">
	<ul>
		<li><a href="/index.html">首页</a></li>
		<li><a href="javascript:;">关于我们</a></li>
		<li><a href="javascript:;">媒体报道</a></li>
		<li><a href="javascript:;">联系方式</a></li>
		<li><a href="javascript:;">企业团购</a></li>
		<li><a href="javascript:;">花店入驻</a></li>
		<li><a href="javascript:;">友情链接</a></li>
		<li><a href="javascript:;">在线补款</a></li>
		<li><a href="javascript:;">为什么选择中国鲜花礼品网</a></li>
	</ul>
	
	<div class="c-log">
		<a href="javascript:;"><img src="/images/cxwz.png"/></a>
		<a href="javascript:;"><img src="/images/cxwz.gif"/></a>
		<a href="javascript:;"><img src="/images/smyz.gif"/></a>
		<img src="/images/slogan.png"/>
		<a href="javascript:;"><img src="/images/zfb.gif"/></a>
		<a href="javascript:;"><img src="/images/100.jpg"/></a>
		<a href="javascript:;"><img src="/images/bico1.jpg"/></a>
		<a href="javascript:;"><img src="/images/bico4.jpg"/></a>
		<a href="javascript:;"><img src="/images/bico3.jpg"/></a>
	</div>
	<p><a href="javascript:;">中国花卉协会会员 </a><a href="javascript:;">中国电子商务协会会员</a> <a href="javascript:;">粤B2-20050744</a> ICP经营许可证:<a href="javascript:;">粤ICP备09171662号</a> 粤公网安备44030502000373号 Copyright © 2005-2018</p>
	<p>花礼网 （中国鲜花礼品网） <a href="javascript:;">www.hua.com</a> 深圳市百易信息技术有限公司 中国领先鲜花网品牌,专业鲜花速递服务！</p>
</div>